<div class='container'>
  <h1>Editing Restaurant</h1>

  <%= render 'form', restaurant: @restaurant %>
  <p></p>
  <%= link_to 'Back', @restaurant, class: "btn btn-dark"%>
  <%= link_to 'All restaurants', restaurants_path, class: "btn btn-dark" %>
</div>
